body
html {
    /**/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #fff url(../images/swirl_pattern.png); /* Background pattern from Subtle Patterns */
}

header {
    width: 100%;
    text-align: center;
}


h1 {
    font: 2.5em'Gaegu', cursive;
}

li {
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    margin: -40px 0 0 0;
}

.content {
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: -20px 0 0 0;
}

/*style for the score section*/

.scorce {
    /**/
    align-items: left;
}

.star-rating {
    /**/
    display: inline;
}

.star {
    /**/
    display: inline;
}

.moves-counter {
    /**/
    display: inline;
    font: 1.5em'Gaegu', cursive;
}

.moves-number {
    /**/
    display: inline;
}

.restart-button {
    cursor: pointer;
    display: inline;
}

/*style for the deck of cards*/

.game-board {
    /**/
    display: flex;
    align-items: center;
    align-self: center;
}

.deck {
    /**/
    display: flex;
    flex-flow: column wrap;
    background: radial-gradient(#f23 0%, #f99 100%);
    width: 250px;
    height: 250px;
    border-radius: 2%;
    margin: 0 0 40px 0;
    padding: 10px;

}

.card {
    /**/
    cursor: pointer;
    background:white;
    border-radius: 7%;
    margin: 2%;
    display: flex;
    flex:50px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
}

/*classes add to cards and icons with js*/
.faceUp{
    color:black;
}

/*for the timer*/
.timer {
    font: 1.5em'Gaegu', cursive;
}

/*animations*/

/*animations for non matching cards*/
.do_not_match_animation {
    animation-duration: 2s;
    animation-name: not_match;
}

.flip_down_animation {
    animation-duration:2s;
    animation-name: flip_face_down;
}

@keyframes not_match {
    from {
        background: radial-gradient(#fff,#f00);
    }

    to {
        background: white;
    }

}
/*flip the cards back to face down positson*/
@keyframes flip_face_down {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

/*congragulations pop up*/
.congraulations-modal {
    /*hide it by default*/
    display: none;

    position: fixed;

    /*sits on top*/
    z-index: 1;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    background: white;
}

.modal-content {
    text-align: center;

}

.congragulations-heading {
    /*css to this later*/
}

.play-again-button {
    /*make it look like a button*/
    border: 2px solid grey;
    border-radius: 12px;
    background: #7f7;
    font: 2em'Gaegu', cursive;
    padding: 12px;
    align-content: center;
    cursor: pointer;
}
/*player stats*/

.play-time {
    font: 1.2em'Gaegu', cursive;
    margin: 48px 0px 0px 0px;
}

.moves-counter-used {
    font: 1.2em'Gaegu', cursive;

}

.star-rating-end {
    margin: 24px 40px 0px 0px;

}