/*Mobile M*/
@media screen and (min-width: 375px) and (max-width: 420px) {
    /*Deck size and cards*/
    .deck {
        width: 300px;
        height: 300px;
        margin: 0 0 40px 0;
        padding: 10px;
    }


    .card {
        margin: 2%;
        flex: 60px;
    }


    .timer {
        font: 1.5em"Gaegu", cursive;
    }


    /*icons*/
    .material-icons.md-36 {
        font-size: 36px;
    }


    .star-rating {
        margin: 0 10px 0 -30px;
    }


    .moves-counter {
        font: 2em"Gaegu", cursive;
        margin: 0 24px 0 10px;
    }


    .congragulations-heading {
        font-size: 2.5em;
    }


    .play-again-button {
        font: 2.2em"Gaegu", cursive;
    }


    /*player stats*/
    .play-time {
        font: 1.5em"Gaegu", cursive;
        margin: 48px 0 0 0;
    }


    .moves-counter-used {
        font: 1.5em"Gaegu", cursive;
    }


    .star-rating-end {
        margin: 24px 40px 0 0;
        font-size: 64px;
    }


}


/*Mobile L*/
@media screen and (min-width: 421px) and (max-width: 700px) {
    /*Deck size and cards*/
    .deck {
        width: 350px;
        height: 350px;
        margin: 0 0 40px 0;
        padding: 10px;
    }


    .card {
        margin: 2%;
        flex: 69px;
    }


    .timer {
        font: 1.6em"Gaegu", cursive;
    }


    /*Icons*/
    .material-icons.md-36 {
        font-size: 36px;
    }


    .star-rating {
        margin: 0 10px 0 -40px;
    }


    .moves-counter {
        font: 2.3em"Gaegu", cursive;
        margin: 0 40px 0 36px;
    }


    .restart-button {
        cursor: pointer;
        display: inline;
    }


    .congragulations-heading {
        font-size: 2.5em;
    }


    .play-again-button {
        font: 2.2em"Gaegu", cursive;
    }


    /*player stats*/
    .play-time {
        font: 1.5em"Gaegu", cursive;
        margin: 48px 0 0 0;
    }


    .moves-counter-used {
        font: 1.5em"Gaegu", cursive;
    }


    .star-rating-end {
        margin: 24px 40px 0 0;
        font-size: 64px;
    }


}


/*Tablet*/
@media screen and (min-width: 701px) and (max-width: 824px) {
    .game-title {
        font: 4em"Gaegu", cursive;
        margin: 24px 0 24px 0;
    }


    /*Deck size and cards*/
    .deck {
        width: 600px;
        height: 600px;
        margin: 0 0 40px 0;
        padding: 12px;
    }


    .card {
        margin: 2%;
        flex: 100px;
    }


    .timer {
        font: 2.7em"Gaegu", cursive;
        margin: -12px 0 0 0;
    }


        /*Icons*/
        .material-icons.md-48 {
            font-size: 48px;
        }


    .star-rating {
        margin: 0 60px 0 -40px;
    }


    .moves-counter {
        display: inline;
        font: 3em"Gaegu", cursive;
        margin: 0 77px 0 77px;
    }


    .congragulations-heading {
        font-size: 7em;
    }


    .play-again-button {
        font: 4em"Gaegu", cursive;
    }


    /*player stats*/
    .play-time {
        font: 3em"Gaegu", cursive;
        margin: 48px 0 0 0;
    }


    .moves-counter-used {
        font: 3em"Gaegu", cursive;
    }


    .star-rating-end {
        margin: 24px 40px 0 0;
    }


}


/*Laptop*/
@media screen and (min-width: 825px) and (max-width: 1439px) {
    .game-title {
        font: 4em"Gaegu", cursive;
        margin: 36px 0 36px 0;
    }


    /*Deck size and cards*/
    .deck {
        width: 700px;
        height: 500px;
        margin: 0 0 40px 0;
        padding: 14px;
    }


    .card {
        margin: 1.6%;
        flex: 100px;
    }


    .timer {
        font: 3em"Gaegu", cursive;
        margin: -48px 0 0 0;
    }


    /*Icons*/
    .material-icons.md-60 {
        font-size: 60px;
    }


    .moves-counter {
        display: inline;
        font: 3.8em"Gaegu", cursive;
        margin: 0 100px 0 100px;
    }


    .congragulations-heading {
        font-size: 7em;
    }


    .play-again-button {
        font: 4em"Gaegu", cursive;
    }


    /*player stats*/
    .play-time {
        font: 3em"Gaegu", cursive;
        margin: 48px 0 0 0;
    }


    .moves-counter-used {
        font: 3em"Gaegu", cursive;
    }


    .star-rating-end {
        margin: 24px 40px 0 0;
    }


}


/*Laptop L*/
@media screen and (min-width: 1440px) and (max-width: 1679px) {
    .game-title {
        font: 5em"Gaegu", cursive;
        margin: 36px 0 36px 0;
    }


    /*Deck size and cards*/
    .deck {
        width: 1200px;
        height: 520px;
        margin: 0 0 40px 0;
        padding: 14px;
    }


    .card {
        margin: 1.2%;
        flex: 80px;
    }


    .timer {
        font: 4em"Gaegu", cursive;
        margin: -48px 0 0 0;
    }


    /*Icons*/
    .material-icons.md-72 {
        font-size: 72px;
    }


    .moves-counter {
        display: inline;
        font: 4em"Gaegu", cursive;
        margin: 0 320px 0 320px;
    }


    .congragulations-heading {
        font-size: 7em;
    }


    .play-again-button {
        font: 4em"Gaegu", cursive;
    }


    /*player stats*/
    .play-time {
        font: 3em"Gaegu", cursive;
        margin: 48px 0 0 0;
    }


    .moves-counter-used {
        font: 3em"Gaegu", cursive;
    }


    .star-rating-end {
        margin: 24px 40px 0 0;
    }


}


/*Desktop*/
@media screen and (min-width: 1680px) {
    .game-title {
        font: 5em"Gaegu", cursive;
        margin: 36px 0 36px 0;
    }


    /*Deck size and cards*/
    .deck {
        width: 1200px;
        height: 520px;
        margin: 0 0 40px 0;
        padding: 14px;
    }


    .card {
        margin: 1.2%;
        flex: 100px;
    }


    .timer {
        font: 4em"Gaegu", cursive;
        margin: -48px 0 0 0;
    }


    /*Icons*/
    .material-icons.md-72 {
        font-size: 72px;
    }


    .moves-counter {
        font: 4em"Gaegu", cursive;
        margin: 0 320px 0 320px;
    }


    .congragulations-heading {
        font-size: 7em;
    }


    .play-again-button {
        font: 4em"Gaegu", cursive;
    }


    /*player stats*/
    .play-time {
        font: 3em"Gaegu", cursive;
        margin: 48px 0 0 0;
    }


    .moves-counter-used {
        font: 3em"Gaegu", cursive;
    }


    .star-rating-end {
        margin: 24px 40px 0 0;
    }


}